* {
    box-sizing: border-box;
    color: hotpink;
}

body {
    animation: load-animation 1s ease-out;
}

img {
    display: block;
    max-width: 100%;
}
.card {
    background-color: palevioletred;
    width: 75%;
    max-width: 700px;
    margin: 100px auto 0px;
    border-radius: 20px;
    padding: 2rem 1rem;
    text-align: center;
}

.add button {
    font-size: 40px;
    width: 90%;
    background-color: aliceblue;
}

.feed {
    margin: 20px auto;
    width: 90%;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.note {
    position: relative;
    display: flex; 
    border: 2px solid rgb(248, 211, 226);
    padding: 10px;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    gap: 5px
}

.text {
    position: relative;
}

.text input{
    background-color: white;
    padding: 1rem 1rem;
}

.text p {
    border: 1px solid hotpink;
    padding: 10%;
    min-width: 205px;
    text-align: center;
}

.delete{
    opacity: 0;
    position: absolute;
    top: 0px;
    right: 0px;
}

.submit {
    opacity: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}

.delete:hover, .submit:hover{
    opacity: 100%;
}

.upload-photo {
    display: none;
    background-color: white;
    position: absolute;
    padding: 10px;
    top: 150px;
    right: 200px;
}


@keyframes load-animation {
    0% {
        opacity: 0%;
        transform: translateY(-5%);
    }
    100% {
        opacity: 100%;
    }
}